<div class="social">
  <a href="https://www.facebook.com/StJamesTheGreatInce">Facebook</a>
</div>
<div>
  <small>Copyright &copy;: {{ "now"|date("Y") }} {{ app.config.get('general/sitename')|e }}</small>
</div>
<div class="developer">
  <small>Site by <a href="https://wilk.tech">Christopher Wilkinson</a></small>
</div>