<div class="social">
  <a href="https://www.facebook.com/StJamesInce">Facebook</a>
</div>
<div class="safeguarding">
<p>
<small>
We take our duty and obligation to protect all extremely seriously and have adopted the national Church of England's robust <a href="https://www.churchofengland.org/safeguarding">safeguarding procedures and guidelines</a>.
</small>
</p>
<p>
<small>
If you have any safeguarding concerns or issues of a safeguarding matter then you can find useful contact information from the <a href="https://www.chester.anglican.org/social-responsibility/safeguarding">Diocese of Chester</a>
</small>
</p>
<div>
  <small>Copyright &copy;: {{ "now"|date("Y") }} {{ app.config.get('general/sitename')|e }}</small>
</div>
<div class="developer">
  <small>Site by <a href="https://wilk.tech">Christopher Wilkinson</a></small>
</div>