{% extends 'partials/_master.twig' %}

{% block content %}

{% setcontent events = 'events' where { until: '>now' } orderby 'date' %}
{% if events|length > 0 %}
<section>
  <div>
    <h2 class="title">Events</h2>
    <h3>Upcoming Events</h3>
    {% for event in events %}
      {% include "partials/_event.twig" %}
    {% endfor %}
  </div>
</section>
{% endif %}

{% setcontent events = 'events' where { until: '<=now' } orderby '-date' %}
{% if events|length > 0 %}
<section id="previous">
  <div>
    <h3 class="title">Past Events</h3>
    {% for event in events %}
      {% include "partials/_event.twig" %}
    {% endfor %}
  </div>
</section>
{% endif %}


{% endblock content %}